<header class="header">
        <div class="container">
            <!-- Логотип -->
            <div class="logo">
                <a href="index.html">
                    <img src="img/logo.png" alt="Antalya stretch ceilings Анталия натяжные потолки" class="logo-img">
                </a>
            </div>

            <!-- Контакты -->
            <div class="header-contacts">
                <div class="social-links">
                    <a href="https://instagram.com/antalya_potolok" target="_blank"><img src="img/instagram.svg" alt="Instagram"></a>
                    <a href="https://t.me/antalya_potolki" target="_blank"><img src="img/telegram.svg" alt="Telegram"></a>
                    <a href="https://wa.me/905348287110" target="_blank"><img src="img/whatsapp.svg" alt="WhatsApp"></a>
                </div>
                <a href="tel:+905348287110" class="phone">+90 534 828 71 10</a>
            </div>
        </div>

        <!-- Навигационное меню -->
        <nav class="navbar-fullwidth">
            <div class="container">
                <button class="mobile-menu-toggle" type="button" aria-label="Открыть меню">
                    <span class="menu-icon" aria-hidden="true">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
                </button>

                <ul class="navbar-menu">
                    <li><a href="ceny.html">Цены</a></li>
                    <li><a href="potolki.html">Каталог</a></li>
                    <li><a href="rphotos.html">Наши работы</a></li>
                    <li><a href="otzyvy.html">Отзывы</a></li>
                    <li><a href="company.html">О компании</a></li>
                    <li><a href="kontakty.html">Контакты</a></li>
                </ul>
            </div>
        </nav>
    </header>
